# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
.env/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Packaging
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
.coverage
.coverage.*
*.cover
*.py,cover

# Test and coverage reports
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.cache
pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Sphinx documentation
docs/_build/
build/
